html
head
	title BEAT EM UP


body
	h1.page-header KILL EM ALL
	script(type="text/javascript", src="/phaser.min.js")
	script(data-main="/main" type="text/javascript", src="/bower_components/requirejs/require.js")
	
	//- script(type="text/javascript" , src="/bower_components/socket.io/lib/socket.js")
	//- script(type="text/javascript", src="/bower_components/socket.io/lib/client.js")
	//- script(type="text/javascript", src="/main.js")