html
head
	title BEAT EM UP

	style.
		body {
			margin:0px;
		}


body
	//- h1.page-header FUCKING KILL EM FUCKING ALL FUCK
	script(type="text/javascript", src="/phaser.2.10.5.js")
	script(data-main="/main" type="text/javascript", src="/bower_components/requirejs/require.js")
	
	//- script(type="text/javascript" , src="/bower_components/socket.io/lib/socket.js")
	//- script(type="text/javascript", src="/bower_components/socket.io/lib/client.js")
	//- script(type="text/javascript", src="/main.js")